@model BeerCraftMVC.Models.ViewModels.Profile.EditProfileViewModel
@{
    ViewData["Title"] = "Edit Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/css/edit-profile.css" /> 
    <link rel="stylesheet" href="~/css/second_layout.css"/>
}
<div class="profile-grid-container edit-profile-form"> 
    <header class="profile-header">
        <h1>@ViewData["Title"]</h1>
    </header>

    <form asp-action="EditProfile" method="post" id="edit-profile-main-content" class="edit-profile-main-content">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <input type="hidden" asp-for="UserId" />

        <div class="form-group-grid">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control-grid readonly" readonly />
        </div>
        <div class="form-group-grid">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control-grid" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group-grid">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control-grid readonly" readonly />
        </div>

    </form>

    <footer class="profile-actions-grid">
        <a asp-action="Profile" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary" form="edit-profile-main-content">Save Changes</button>
    </footer>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}