:root {
    --bg-color: #FDF8F1;
    --stripe-color: #FFFFFF;
    --text-color: #332E2C;
    --accent-color: #B47A3B;
    --accent-color-rgb: 180,122,59;
    --accent-stripe: #C48A4B;
    --button-bg: #332E2C;
    --button-text: #FFFFFF;
    --font-headingS: 'Anton', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Oswald', sans-serif;
}

.home-page body {
    background-image: repeating-linear-gradient( to right, var(--bg-color), var(--bg-color) 40px, var(--stripe-color) 40px, var(--stripe-color) 80px );
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-color);
}

.logo {
    font-family: var(--font-headingS);
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1;
    transition: font-size 0.3s ease;
    flex-basis: 50%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    flex-basis: 50%;
}

    .navigation p {
        font-size: 1.75rem;
        margin: 0;
        font-weight: 600;
        display: none;
        line-height: 1;
    }

    .navigation nav ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        margin: 0;
        padding: 0;
        padding-top:5px;
        align-items: baseline;
    }

    .navigation nav {
       border: none;
    }

.home-page .navigation nav {
    border-top: 0.05px var(--button-bg) solid;
}

.navigation nav a, .nav-link-button {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}


.nav-link-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent-color);
}

    .nav-link-button:hover {
        border-color: var(--text-color);
        background-color: var(--accent-color);
        color: var(--stripe-color);
    }

.navigation nav a:hover {
    border-color: var(--text-color);
    background-color: var(--text-color);
    color: var(--stripe-color);
}

.home-page .page-header {
    padding: 40px 40px 30px 40px;
    align-items: flex-end;
}

.home-page .logo {
    font-size: 8rem;
    line-height: 0.8;
}

.home-page .navigation p {
    display: block;
}

.home-page .navigation {
    align-items: flex-start;
}


.btn {
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    text-align: center;
}

.btn-primary {
    background-color: var(--button-bg);
    color: var(--button-text);
    border-color: var(--button-bg);
}

    .btn-primary:hover {
        background-color: transparent;
        color: var(--button-bg);
        cursor: pointer;
    }

.btn-secondary {
    background-color: transparent;
    color: var(--button-text);
    border-color: var(--button-text);
    cursor: pointer;
}

    .btn-secondary:hover {
        background-color: var(--button-text);
        color: var(--accent-color);
        cursor: pointer;
    }

.page-footer {
    text-align: center;
    padding: 15px 40px;
    background-color: var(--bg-color);
    border-top: 1px solid var(--text-color);
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}


.checker-divider {
    height: 20px;
    background-image: repeating-conic-gradient(var(--text-color) 0% 25%, var(--stripe-color) 0% 50%);
    background-size: 20px 20px;
    width: 100%;
}
