/*:root {
    --bg-color: #FDF8F1;
    --stripe-color: #FFFFFF;
    --text-color: #332E2C;
    --accent-color: #B47A3B;
    --accent-color-rgb: 180,122,59;
    --accent-stripe: #C48A4B;
    --button-bg: #332E2C;
    --button-text: #FFFFFF;
    --font-headingS: 'Anton', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Oswald', sans-serif;
    --current-page: #B47A3B;
}
*/
:root {
    --bg-color: #626609; /* Тъмно маслинено зелено */
    --stripe-color: #0d0d0d; /* Почти черно */
    --text-color: #dadada; /* Много светло сиво  */
    --accent-color: #bcb837; /* Ярко жълто-зелено/лайм  */
    --accent-stripe: #2b2d07; /* Много тъмно каки */
    --button-bg: #353709; /* Тъмно каки/зелено (*/
    --button-text: #FFFFFF; /* Бяло */
    --current-page: #bcb837; /* Ярко жълто-зелено/лайм */
    --bg-color-dark: #1c1d13; /*Много тъмно зелено/сиво */
    --bg-container: #24242459; /* Прозрачен фон за контейнери */
    --font-headingS: 'Russo One', sans-serif;
    --font-body: 'Montserrat', sans-serif;
    --font-heading: 'Oswald', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../images/beerbackground.jpg');
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.page-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
body.home-page {
    background-image: url('../images/beerbackground.jpg');
}
.navigation nav {
    border-top: none;
}

.btn {
    padding: 0.5em 1.2em;
    font-size: 0.85rem;
    border-radius: 20px;
}



.logo {
    font-family: var(--font-headingS);
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1;
    transition: font-size 0.3s ease;
    flex-basis: 50%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    flex-basis: 50%;
}

    .navigation p {
        font-size: 1.75rem;
        margin: 0;
        font-weight: 600;
        display: none;
        line-height: 1;
    }

    .navigation nav ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        margin: 0;
        padding: 0;
        padding-top:5px;
        align-items: baseline;
    }

    .navigation nav {
       border: none;
    }

.home-page .navigation nav {
    border-top: 0.05px var(--button-bg) solid;
}

.navigation nav a, .nav-link-button {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}


.nav-link-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent-color);
}

    .nav-link-button:hover {
        color: var(--bg-color);
    }

.navigation nav a:hover {
    color: #626609;
}

.home-page .page-header {
    padding: 20px 40px 20px 20px;
    align-items: flex-end;
}

.home-page .logo {
    font-size: 6rem;

}

.home-page .navigation p {
    display: block;
}

.home-page .navigation {
    align-items: flex-end;
}


.btn {
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    text-align: center;
}

.btn-primary {
    background-color: var(--button-bg);
    color: var(--button-text);
    border-color: var(--button-bg);
}

    .btn-primary:hover {
        background-color: transparent;
        color: var(--accent-color);
        cursor: pointer;
    }

.btn-secondary {
    background-color: transparent;
    color: var(--button-text);
    border-color: var(--button-text);
    cursor: pointer;
}

    .btn-secondary:hover {
        background-color: var(--button-text);
        color: var(--button-bg);
        cursor: pointer;
    }

.page-footer {
    text-align: center;
    padding: 5px 40px;
    border-top: 1px solid var(--accent-color);
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    color:#8f8f8f;
    background-color:var(--stripe-color);
}


.checker-divider {
    height: 20px;
    background-image: repeating-conic-gradient(var(--text-color) 0% 25%, var(--stripe-color) 0% 50%);
    background-size: 20px 20px;
    width: 100%;
}

