.navigation nav{
    border-top:none;
}
.btn {
    padding: 0.5em 1.2em;
    font-size: 0.85rem;
    border-radius: 20px;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../images/beerbackground.jpg');
    background-color: #333;
}